body{
    color: white;
  }
  
  .animated-button {
    position: relative;
    display: inline-block;
    padding: 8px 30px;
    font-size: 16px;
    color: rgb(156,163,175);
    background: transparent;
    border: 2px solid rgb(156,163,175);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
    font-weight: 600;
  }
  
  .animated-button .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(156,163,175);
    z-index: -1;
    transition: width 0.4s ease;
  }
  
  .animated-button:hover .fill {
    width: 100%;
  }
  
  .animated-button:hover {
    color: #222;
  }