.event-card {
  /* background-color: #000; */
  /* padding: 3vh; */
  text-align: center;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-date {
  font-size: 0.8rem;
  transform: rotate(-7deg);
  
}

.event-title{
  transform: rotate(-7deg);
  
}

.deadline{
  transform: rotate(-7deg);
  
}

@media (min-width: 768px) {
  .event-card {
    width: 30vw;
  }
}


