.teams-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.team-card {
  width:500px;
}

.team-card h2{
  font-size:20px;
}

.team-card .RemText{
  font-size:12px;
}

.team-card .memberlist{
  font-size:9px;
}

.team-card .Buttons{
  height:3rem;
}

.Time{
  font-size:12px;
}

li{
  padding-left:1rem;
}

.notice{
  font-size: 1.875rem ;
  line-height: 2.25rem ;
}

@media (max-width: 450px) {

.team-card {
  width:400px;
}

.team-card h2{
  font-size:15px;
}

.team-card .RemText{
  font-size:9px;
}

.team-card .memberlist{
  font-size:8px;
}

.team-card .Buttons{
  height:2.3rem;
}

.Time{
  font-size:10px;
}

.notice{
  font-size: 1.125rem ;
  line-height: 1.75rem ;
}

}


.highlight {
  font-weight: bold;
}

.member-list {
  margin: 1rem 0;
}

.member-item {
  font-size: 0.9rem;
  padding-top: 0px;
}

.change-leader-dropdown {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

.team-card-background {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
