@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minecraft";
  src: local("Minecraft"), url(./fonts/MinecraftRegular-Bmg3.otf);
}

@font-face {
  font-family: "Minecraft";
  font-weight: 900;
  src: local("Minecraft"), url(./fonts/MinecraftBold-nMK1.otf);
}

body{
    font-family: "Minecraft";
}