@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minecraft";
  src: local("Minecraft"), url(./fonts/MinecraftRegular-Bmg3.otf);
}

@font-face {
  font-family: "Minecraft";
  font-weight: 900;
  src: local("Minecraft"), url(./fonts/MinecraftBold-nMK1.otf);
}

body {
  font-family: "Minecraft";
}
